.chart-wrapper {
  width: 100%;
  margin-bottom: 50px;
  animation: fadeInUp 1s ease;
}

#chart-container {
  width: 100%;
  height: 700px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 12px;
  padding: 0.1px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border: 1px solid hsl(214, 20%, 88%);
  overflow: hidden;
}
